.buttons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}
.buttons button{
    background-color: #eee;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: Poppins;
    font-size: large;
    cursor: pointer;
}

.span2{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
}

.span1{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.buttons button:nth-child(2){
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}

.buttons button:nth-child(1){
    background-color: #2F2F2F;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}

.total{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 20px;
    background: hsl(var(--clr-gray));
}

h2{
    color: hsl(var(--clr-red));
}


.vide{
    display: none;
}

.cart-item{
    border-top: 1px solid #000;
    /* border-bottom: 1px solid #000; */
    padding: 10px  0;
    margin: 0 20px;
}


.quantity{
    width: 125px;
    height: 50px;
    padding: 15px;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    border-radius: 20px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 1rem;
    background: 0 0;
    color: #000;
    cursor: pointer;
}

.qtyInput{
    width: 100%;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #000;
    background: 0 0;
    flex: 1;
    font-weight: 700;
}

.qtyInput:focus-visible{
    outline: none;
}

.cart-item{
    display: grid;
    height: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
}

.image{
    width: 125px;
    height: 125px;
}
.delete i{
    font-size: 2rem;
}
.cart-item i{
    width: 20px;
    height: 20px;
}
.delete{
    border-left: 1px solid #000;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999; /* Met le chargement devant les autres éléments */
}

.confirm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(var(--clr-white) );
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
    z-index: 9999;
}

/* ============================================================= */

/* Style pour masquer l'alerte par défaut */
.custom-alert {
  display: none; /* Masqué par défaut */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Couleur de fond transparente */
  z-index: 999; /* Pour que l'alerte soit au-dessus de tout */
  justify-content: center;
  align-items: center;
  transition: 250ms ease-in-out;
}
  
.alert-content {
  background-color: hsl(var(--clr-white) / .9);
  padding: 20px;
  width: 50%;
  height: 90%;
  border-radius: .25rem;
  text-align: center;
  position: relative;
  text-align: start;
  display: grid;
  align-items: end;
}

.alert-content-adresse {
    background-color: hsl(var(--clr-white) / .9);
    padding: 20px;
    width: 50%;
    height: 90%;
    border-radius: .25rem;
    text-align: center;
    position: relative;
    text-align: start;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
  }

.block{
    height: 100%;
    overflow: scroll;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}

/* Désactive les interactions sur la page lorsque l'alerte est ouverte */
.no-interaction {
  pointer-events: none; /* Désactive tous les clics et interactions */
  opacity: 0.5; /* Optionnel : diminue l'opacité pour indiquer que la page est désactivée */
}

/* Classe pour désactiver le défilement */
.no-scroll {
  overflow: hidden; /* Désactive le défilement */
}

@media (max-width: 35em){
    .alert-content-adresse,
    .alert-content{
        width: 90%;
    }
}

@media (min-width: 59em){
    .alert-content-adresse,
    .alert-content{
        width: 30%;
    }
}

.custom-hr {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-gray)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

.commande-detail{
    background-color: hsl(var(--clr-white));
    padding: 5px;
    border-radius: 5px;
}

.top-commande{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.custom-alert h3{
    color: hsl(var(--clr-black) / .5);
}

#customAdresse h3{
    color: hsl(var(--clr-red));
}

.mode-title,
.adresse-title,
.livraison-title{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
}

.mode-modifier,
.adresse-modifier,
.livraison-modifier{
    font-size: 15px;
    color: hsl(var(--clr-red));
    cursor: pointer;
}

.mode-content,
.adresse-content
{
    background-color: hsl(var(--clr-white));
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

.mode-content p,
.adresse-content p{
    font-size: 15px;
}

.mode-content ion-icon,
.content ion-icon {
    padding: 5px 10px;
}

.adresse-content{
    display: grid;
    padding-left: 10px;
}

.content-item{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.content{
    padding: 5px;
    display: flex;
}

.livraison-content{
    background-color: hsl(var(--clr-white));
    border-radius: 5px;
}

.item-content{
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 1px solid hsl(var(--clr-gray));
}

.item-title{
    padding: 0 10px;
}

.item-image{
    width: 75px;
    height: 75px;
}

.item{
    padding-bottom: 10px;
}

.confirmer{
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background: hsl(var(--clr-red) / .7);
    color: white;
    cursor: pointer;
    height: 3em;
}

#customAdresse .adresse{
    border: 1px solid #000;
    margin-bottom: 10px;
    background: white;
}

#customAdresse .title-content{
    display: flex;
    justify-content: space-between;
}

#customAdresse .title-content i{
    padding-right: 5px;
} 

#customAdresse .title-adresse{
    /* border-bottom: 1px solid #000; */
    padding: 0 10px;
}

.custom-hr1 {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-black)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

#customAdresse .adresse-content1{
    padding: 0 10px;
}

.methode{
    padding: 16px;
}

.methode h3{
    font-size: 1rem;
}

.methode p{
    padding-top: 8px;
}

#alert-content{
    overflow: scroll;
}

.alert-contentDelete {
    background-color: white;
    padding: 20px;
    width: 300px;
    max-width: 80%;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }

  .confirmBtn{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background: hsl(var(--clr-red) / .9);
  }

  /* Style pour masquer l'alerte par défaut */
.custom-alertDelete {
    display: none; /* Masqué par défaut */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Couleur de fond transparente */
    z-index: 999; /* Pour que l'alerte soit au-dessus de tout */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999999999;
  }

  .custom-alertDelete h2{
    text-align: center;
  }

.iconss{
  display: flex;
  gap: 10px;
}

.iconss i:hover{
    background: hsl(var(--clr-black) / 0.1);
}

.iconss i{
    font-size: 1.2rem;
}