.detail-feature {
  background-color: #f4f4f4;
  margin-bottom: 80px;
}

.detail-feature .custom-container {
  padding: 50px 0;
  font-size: 1rem;
  font-weight: 500;
}

.order-title {
  margin-bottom: 20px;
  font-size: 1rem;
  display: flex;
  gap: 10px;
}

.order-title i {
  color: #d44444;
  font-weight: 700;
  font-size: 28px;
}

.products-section {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.products-section:last-child {
  border-bottom: none;
}

.product {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.product-image img {
  width: 120px;
  height: auto;
  /* border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.product-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-content a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.text-gray {
  color: #757575;
  font-size: 14px;
}

.price-content {
  flex: 50%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  color: #e52e06;
  align-items: flex-end;
}

.order-info {
  margin-top: 10px;
  font-size: 14px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.status {
  color: #ff9800;
  font-weight: bold;
}

.delivery-date {
  color: #4caf50;
}

.track-btn,
.return-btn,
.cancelled-btn {
  background: #e52e06;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background 0.3s ease;
  font-weight: 700;
}

.track-btn:hover,
.return-btn:hover,
.cancelled-btn:hover {
  background: #333;
}

@media (max-width: 768px) {
  .products-section {
    flex-direction: column;
  }
  .product {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-image img {
    width: 100px;
  }
}

.content {
  display: flex;
  gap: 20px;
}

.prev-price {
  color: var(--red) !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background: rgba(255, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.prev-price:hover {
  background: var(--red);
  color: #fff !important;
  transform: scale(1.05);
}

.products-content,
.order-summary,
.user-content {
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px 20px 0 20px;
  border-radius: 8px;
}

.order-summary {
  padding-bottom: 20px;
}

.order-summary h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.cart-summary-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.cart-summary-table th,
.cart-summary-table td {
  padding: 10px;
  text-align: left;
}

.cart-summary-table tr {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.order-total th,
.order-total td {
  font-weight: bold;
  color: #e52e06;
}

.payment-status {
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.payment-status.paid {
  background: #dff0d8;
  color: #3c763d;
}

.payment-status.pending {
  background: #fff3cd;
  color: #856404;
}

.payment-status.failed {
  background: #f2dede;
  color: #e52e06;
}

.receipt-link {
  font-weight: bold;
  color: #02538a;
  text-decoration: none;
  margin-left: 8px;
}

.receipt-link:hover {
  text-decoration: underline;
  color: #e52e06;
}

@media (max-width: 480px) {
  .order-summary {
    max-width: 100%;
    padding: 15px;
  }
}

.user-content h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

.user-name-content,
.user-products,
.user-contact-info div,
.user-shipping-adress address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #555;
  padding: 10px 0;
}

.user-name-content i,
.user-products i,
.user-contact-info i {
  font-size: 20px;
  color: #e52e06;
}

.user-name-content {
  justify-content: space-between;
  cursor: pointer;
}

.user-name-content p {
  font-weight: bold;
}

hr {
  border: none;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}

.user-contact-info h2,
.user-shipping-adress h2 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.user-shipping-adress address {
  font-style: normal;
  line-height: 1.5;
}

.primary-content {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "products products"
    "order user";
}

.products-content {
  grid-area: products;
}

.order-summary {
  grid-area: order;
}

.user-content {
  grid-area: user;
}

@media (min-width: 992px) {
  .primary-content {
    grid-template-areas:
      "products products user"
      "order order user";
  }
}

@media (max-width: 767px) {
  .primary-content {
    grid-template-areas:
      "products"
      "user"
      "order";
  }
}

@media (min-width: 1400px) {
  .user-content {
    max-width: 400px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close-btn {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.close-btn:hover {
  color: #b64228;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.product-info img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.details p {
  margin: 5px 0;
  text-align: left;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-align: left;
}

input[type="number"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  height: 80px;
  resize: none;
}

#justification-preview {
  display: none;
  width: 100%;
  max-height: 150px;
  margin-top: 10px;
  border-radius: 5px;
  object-fit: cover;
}

button#submit-return {
  background: #e52e06;
  color: white;
  font-weight: 700;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button#submit-return:hover {
  background: #333;
}

#return-product-quantity,
#return-product-price,
.qty {
  color: #e52e06;
}

.quantity input:focus,
textarea:focus,
input[type="file"]:focus {
  outline: none;
  border: 2px solid #e52e06;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.quantity span {
  background: #ddd;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  user-select: none;
  transition: 0.3s;
}

.quantity span:hover {
  background: #bbb;
}

.quantity input {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal.show {
  display: flex;
}

.modal-content-confirm {
  background: #fff;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content-confirm p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.modal-content-confirm button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
}

#confirmCancelled {
  background: #e52e06;
  color: white;
}

#cancelCancelled {
  background: #bdc3c7;
  color: black;
}

#cancelCancelled:hover,
#confirmCancelled:hover {
  background: #333;
}

.product-image-content {
  position: relative;
}

.info-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}
