/* =============Detail Feature Section */

.shop-feature{
    width: 100vw;
    place-items: center;
    padding: 3rem 0;
    display: grid;
    /* text-decoration: underline; */
}


.product-list{
    display: grid;
}

.shop-product{
    display: grid;
}
/* =========Detail Section================== */

.custom-hr {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-gray)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

.custom-hr1 {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-black)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

/* ================================== */

/* color: hsl(var(--clr-black) / 0.8); */

.first{
    font-family: 'Poppins', sans-serif;
}

.title{
    color: hsl(var(--clr-black) / 0.8);
    padding: 0 20px;
    padding-top: 10px;
}

.title1{
    padding: 10px 0;
}

.Num{
    color: hsl(var(--clr-black));
    padding-bottom: 5px;
}

.exit{
    /* padding: 10px 0; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.exit i{
    font-size: 2rem;
}

.second,
.third{
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
}

/* ======================================= */

h2{
    color: hsl(var(--clr-red));
}


.vide{
    display: none;
}

.cart-item{
    display: grid;
    height: max-content;
    grid-template-columns: .1fr 1fr;
    gap: 2rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
    /* border: 1px solid #000; */
    padding: 10px  0;
    /* margin: 0 20px; */
    /* margin-bottom: 20px; */
}
.image{
    width: 125px;
    height: 125px;
}
.cart-item i{
    width: 20px;
    height: 20px;
}

.Add{cursor: pointer;}

.Add i{
    font-size: 2rem;
}

.Add:hover{
    background: hsl(var(--clr-gray) / .2);
    margin: 0 10px;
    border-radius: 5px;
}

.div-btn{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.state{
    width: max-content;
    border-radius: 2px;
    padding: 2px 2px;
}

.div-name{
    font-size: 1rem;
    display: grid;
    align-content: space-around;
}

.name{
    font-size: 1.2rem;
}

@media (min-width: 59em){

    .state{
        justify-self: center;
    }

    .cart-item{
        text-align: center;
    }
}

@media (max-width: 35em){
    .state1,
    .state2{
        margin-bottom: 15px;
    }
    .div-name{
        display: grid;
        /* grid-template-rows: 1fr; */
        font-size: .8rem;
        font-family: 'Poppins', sans-serif;
    }

    .name{
        font-size: 1rem;
    }

    .Add i{
        font-size: 1rem;
    }

    .div-btn{
        display: none;
    }

    .cart-item{
        grid-template-columns: 1fr 5fr;
    }

}

/* ======================================= */

.cart-content{
    display: grid;
    grid-template-columns: 1fr .2fr;
    border: 1px solid #000;

}

.state-box{
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr; */
}

.state2{
    margin-left: 10px;
}

.state1,
.state2{
    border-radius: 2.5px;
    padding: 0 2.5px;
}

.cart-icon-top{
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: 1fr;
    padding-top: 10px;
    padding-left: 10px;    
}

.content-right{
    padding-top: 10px;
    padding: 0 10px;
    text-align: center;
}

.btn-one{
    border-radius: 5px;
    padding: 10px;
    background: hsl(var(--clr-red) / 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-two{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.btn-two:hover{
    background: hsl(var(--clr-red) / 0.2);
}

.cart-icon-bottom{
    padding: 5px;
    color: hsl(var(--clr-black) / 0.8);
}

@media (max-width: 35em){
    .cart-content{
        grid-template-columns: 1fr;    
    }

    .cart-icon-bottom{
        text-align: center;
    }

    .btn-one{
        margin-bottom: 10px;
    }
}

.cart-content{
    margin-bottom: 20px;
}

/* ====================================== */

.title-paiement,
.title-livraison{
    /* border-bottom: 1px solid #000; */
    padding: 0 10px;
}

.paiement,
.livraison{
    border: 1px solid #000;
}

.paiement{
    margin-right: 20px;
}

.paiment-content,
.livraison-content{
    padding: 0 10px;
}

.third{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mode,
.detail,
.methode,
.adresse,
.detail-exp{
    padding: 16px;
}

.mode h3,
.detail h3,
.methode h3,
.adresse h3,
.detail-exp h3{
    font-size: 1rem;
}

.mode p,
.detail p,
.methode p,
.adresse p,
.detail-exp p{
    padding-top: 8px;
}

@media (max-width: 35em){
    .third{
        grid-template-columns: 1fr;
    }

    .paiement{
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* ================================================= */
/* Style pour l'alerte */
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(var(--clr-white) );
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
    z-index: 9999;
}

.alert.show {
    opacity: 1;
    top: 50%;
}

.alert.hide {
    opacity: 0;
    top: 40%;
}

.alert .close-btn {
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.alert a{
    text-decoration: none;
}

.block{
    overflow: scroll;
    height: 95%;
}

/* Classe pour désactiver le défilement */
.no-scroll {
    overflow: hidden; /* Désactive le défilement */
}

/* ============================================================= */

/* Style pour masquer l'alerte par défaut */
.custom-alert {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
  }
    
  .alert-content {
    background-color: white;
    padding: 20px;
    width: 300px;
    max-width: 80%;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }

  .custom-alert h2{
    text-align: center;
  }

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  
  /* Désactive les interactions sur la page lorsque l'alerte est ouverte */
  .no-interaction {
    pointer-events: none; /* Désactive tous les clics et interactions */
    opacity: 0.5; /* Optionnel : diminue l'opacité pour indiquer que la page est désactivée */
  }
  
  /* Classe pour désactiver le défilement */
  .no-scroll {
    overflow: hidden; /* Désactive le défilement */
  }

  .confirmBtn{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background: hsl(var(--clr-red) / .9);
  }

  /* ================================================= */
/* Style pour l'alerte */
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(var(--clr-white) );
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
    z-index: 9999;
}

.alert.show {
    opacity: 1;
    top: 50%;
}

.alert.hide {
    opacity: 0;
    top: 40%;
}

.alert .close-btn {
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.alert a{
    text-decoration: none;
}

/* =============================================== */

.alert-contentRetourne {
    background-color: hsl(var(--clr-white) / .9);
    padding: 20px;
    width: 50%;
    height: 45%;
    border-radius: .25rem;
    text-align: center;
    position: relative;
    text-align: start;
    display: grid;
    align-items: end;
}

.block{
    height: 100%;
    overflow: scroll;
}

.confirmer{
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background: hsl(var(--clr-red) / .7);
    color: white;
    cursor: pointer;
    height: 3em;
}

@media (max-width: 35em){
    .alert-contentRetourne{
        width: 90%;
    }
}

@media (min-width: 59em){
    .alert-contentRetourne{
        width: 30%;
    }
}

.content-item{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    background: white;
}

.item-content{
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 1px solid hsl(var(--clr-gray));
}

.item-image{
    width: 75px;
    height: 75px;
}

.motif{
    padding-top: 10px;
}

.motif-content{
    background: white;
}

/* Style pour la zone de texte */
.motif-content textarea {
    width: 95%;
    height: 100%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    resize: none; /* Empêche le redimensionnement */
}