/* =============Detail Feature Section */

.shop-feature{
    width: 100vw;
    place-items: center;
    padding: 3rem 0;
    display: grid;
    /* text-decoration: underline; */
}


.product-list{
    display: grid;
}

.shop-product{
    display: grid;
}
/* =========Detail Section================== */

.custom-hr {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-gray)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

.custom-hr1 {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-black)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

/* ================================== */

/* color: hsl(var(--clr-black) / 0.8); */

.first{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

.title{
    color: hsl(var(--clr-black) / 0.8);
    padding: 0 20px;
    padding-top: 10px;
}

.title-content{
    display: flex;
    justify-content: space-between;
}

.title-content i{
    padding-right: 5px;
} 

.exit{
    /* padding: 10px 0; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.exit i{
    font-size: 2rem;
}

.third{
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
}

/* ======================================= */

h2{
    color: hsl(var(--clr-red));
}

/* ====================================== */

.second{
    padding: 20px 20px;
}

.form .input-box1 {
  width: 100%;
  margin-top: 20px;
}
.input-box1 label {
  color: #333;
}
.form :where(.input-box1 input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box1 input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  /* accent-color: rgb(130, 106, 251); */
  accent-color: hsl(var(--clr-red) / .8);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  /* background: rgb(130, 106, 251); */
  background: hsl(var(--clr-red) / .8);
  border-radius: 5px;
}

.form button:hover {
  background: hsl(var(--clr-red) / .5);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}


/* Style pour masquer l'alerte par défaut */
.custom-alert {
  display: none; /* Masqué par défaut */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Couleur de fond transparente */
  z-index: 999; /* Pour que l'alerte soit au-dessus de tout */
  justify-content: center;
  align-items: center;
}

.alert-content {
  background-color: white;
  padding: 20px;
  width: 300px;
  max-width: 80%;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Désactive les interactions sur la page lorsque l'alerte est ouverte */
.no-interaction {
  pointer-events: none; /* Désactive tous les clics et interactions */
  opacity: 0.5; /* Optionnel : diminue l'opacité pour indiquer que la page est désactivée */
}

/* Classe pour désactiver le défilement */
.no-scroll {
  overflow: hidden; /* Désactive le défilement */
}

.confirmBtn{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

#customAlertSelect h2{
  color: hsl(var(--clr-green));
}