/* =============Detail Feature Section */

.shop-feature{
    width: 100vw;
    place-items: center;
    padding: 3rem 0;
    display: grid;
    /* text-decoration: underline; */
}


.product-list{
    display: grid;
}

.shop-product{
    display: grid;
}
/* =========Detail Section================== */

.custom-hr {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-gray)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

.custom-hr1 {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-black)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

/* ================================== */

/* color: hsl(var(--clr-black) / 0.8); */

.first{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

.title{
    color: hsl(var(--clr-black) / 0.8);
    padding: 0 20px;
    padding-top: 10px;
}

.title-content{
    display: flex;
    justify-content: space-between;
}

.title-content i{
    padding-right: 5px;
} 

#exit,
#add{
    display: flex;
    align-items: center;
    cursor: pointer;
}
#add{
    padding-right: 10px;
}

.exit{
    display: flex;
    justify-content: center;
}

.exit i{
    font-size: 2rem;
}

.third{
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
}

/* ======================================= */

h2{
    color: hsl(var(--clr-red));
}

/* ====================================== */

.title-info,
.title-adresse{
    /* border-bottom: 1px solid #000; */
    padding: 0 10px;
}

.info,
.adresse{
    border: 1px solid #000;
}

/* .info{
    margin-right: 20px;
} */

.info-content,
.adresse-content{
    padding: 0 10px;
}

.third{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.mode,
.methode{
    padding: 16px;
}

.mode h3,
.methode h3{
    font-size: 1rem;
}

.mode p,
.methode p{
    padding-top: 8px;
}

@media (max-width: 35em){
    .third{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

@media (min-width: 35em) and (max-width: 59em){
    .third{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/* Style pour masquer l'alerte par défaut */
.custom-alert {
    display: none; /* Masqué par défaut */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Couleur de fond transparente */
    z-index: 999; /* Pour que l'alerte soit au-dessus de tout */
    justify-content: center;
    align-items: center;
  }
  
  .alert-content {
    background-color: white;
    padding: 20px;
    width: 300px;
    max-width: 80%;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Désactive les interactions sur la page lorsque l'alerte est ouverte */
  .no-interaction {
    pointer-events: none; /* Désactive tous les clics et interactions */
    opacity: 0.5; /* Optionnel : diminue l'opacité pour indiquer que la page est désactivée */
  }
  
  /* Classe pour désactiver le défilement */
  .no-scroll {
    overflow: hidden; /* Désactive le défilement */
  }
  
  .confirmBtn{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background: hsl(var(--clr-red) / .9);
  }
  
  #customAlertSelect h2{
    color: hsl(var(--clr-green));
  }

  .iconss{
    display: flex;
    gap: 15px;
  }

.iconss i:hover{
    background: hsl(var(--clr-black) / 0.1);
}

.del{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.del:hover{
    text-decoration: underline red;
}