/* =============Detail Feature Section */

.shop-feature{
    width: 100vw;
    place-items: center;
    padding: 3rem 0;
    display: grid;
    /* text-decoration: underline; */
}


.product-list{
    display: grid;
}

.shop-product{
    display: grid;
}
/* =========Detail Section================== */

.custom-hr {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-gray)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

.custom-hr1 {
    border: 0;
    height: 1px;
    background-color: hsl(var(--clr-black)); /* Couleur de la ligne */
    width: 100%; /* Largeur de la ligne */
    margin: 0 0; /* Espacement autour de la ligne */
}

/* ================================== */

/* ================================== */

/* color: hsl(var(--clr-black) / 0.8); */

.first{
    font-family: 'Poppins', sans-serif;
}

.exit{
    /* padding: 10px 0; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.exit i{
    font-size: 2rem;
}


/* ======================================= */

/* .head{
    text-align: center;
}
.head_1{
    font-size: 30px;
    font-weight: 600;
    color: #333;
}
.head_1 span{
    color: #ff4732;
}
.head_2{
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-top: 3px;
} */
.second ul{
    display: flex;
    margin: 80px 0;
    justify-content: center;
}
.second ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second ul li .icon{
    font-size: 35px;
    color: #ff4732;
    margin: 0 60px;
}
.second ul li .text{
    font-size: 14px;
    font-weight: 600;
    color: #ff4732;
}

h2{
    color: #ff4732;
}

.second ul li .text1{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

/* Progress Div Css  */

.second ul li .progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(68, 68, 68, 0.781);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    /* cursor: pointer; */
}
.progress::after{
    content: " ";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: rgba(68, 68, 68, 0.781);
    right: 30px;
}
.one::after{
    width: 0;
    height: 0;
}

.second ul li .progress .uil{
    display: none;
}
.second  ul li .progress p{
    font-size: 13px;
}

/* Active Css  */

.second ul li .active{
    background-color: #ff4732;
    display: grid;
    place-items: center;
}
.second  li .active::after{
    background-color: #ff4732;
}
.second  ul li .active p{
    display: none;
}
.second  ul li .active .uil{
    /* font-size: 20px; */
    display: flex;
}

i{
    font-size: 20px;
}

/* Responsive Css  */

/* @media (max-width: 980px) { */
    .second ul{
        flex-direction: column;
        display: grid;
        justify-content: center;
        margin: 20px 0;
    }
    .second ul li{
        flex-direction: row;
    }
    .second ul li .progress{
        margin: 0 30px;
    }
    .progress::after{
        width: 5px;
        height: 55px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    .one::after{
        height: 0;
    }
    .second ul li .icon{
        margin: 15px 0;
    }
/* } */

/* @media (max-width:600px) {
    .head .head_1{
        font-size: 24px;
    }
    .head .head_2{
        font-size: 16px;
    }
} */


.custom-style {
    background: white;
    border-radius: 15px;
    width: 50%;
    height: 50%;
    font-size: 0;
}

li {
    transition: opacity 0.5s ease; /* Transition sur 0.5s pour l'opacité */
    display: none; /* Masque l'élément au départ */
}

.masque::after{
    width: 0;
    height: 0;
}