:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
}

a,
button,
img,
input,
span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a,
button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
a,
button,
a:before,
img,
input {
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

body {
  color: #666;
  background-color: #fff;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
  font-family: "CerebriSans";
}

/* =====================Preloader============================= */

#preloader_active {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  margin-top: 0px;
  top: 0px;
}
#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.object {
  width: 20px;
  height: 20px;
  background-color: #e52e06;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}

#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}
#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes object_one {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_one {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_two {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_two {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_three {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_three {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

/* =====================Preloader============================= */

/* .myheader {
  margin: 1rem 10%;
} */

.header-action-right {
  font-size: 2rem;
}

.custom-container,
.header-action-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-action-right a {
  margin: 1rem;
}

.theme-logo img {
  width: 165px;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: var(--gray-dark);
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBar ul li {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

@media (max-width: 39rem) {
  .theme-logo img {
    width: 120px;
  }

  /* .myheader {
    margin-top: 1rem;
  } */

  .header-action-right {
    font-size: 1.5rem;
  }

  .navBar {
    display: none;
  }
}

@media (min-width: 39rem) and (max-width: 59rem) {
  .navBar {
    display: none;
  }
}

.links-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 50%;
  height: 100%;
  overflow: scroll;
  background-color: var(--secondary);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.75s ease-out;
  gap: 2rem;
}

.links-container li {
  font-size: 1.1rem;
  padding-left: 1rem;
  cursor: pointer;
  color: white;
}

.fond.show {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
}

.linksTitle {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  color: white;
}

.uil {
  cursor: pointer;
}

.uil:hover {
  color: red;
}

svg {
  margin-right: 1rem;
  cursor: pointer;
}

.links-container.show {
  left: 0;
}

@media (min-width: 59rem) {
  #showMenu,
  .links-container,
  .fond.show {
    display: none;
  }
}

.header-action-icon {
  position: relative;
}

.total-pro {
  background: #e52e06 none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
  height: 22px;
  right: -12px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  bottom: 23px;
  width: 22px;
  font-weight: bold;
  top: 25%;
  left: 50%;
}

.exit {
  position: absolute;
  top: 5%;
  right: 5%;
}

#searchBar {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  margin-top: 0px;
  top: 0px;
  /* transform: translateY(-100%); */
  top: -100%;
  /* transition: transform 0.3s ease-in-out; */
  transition: top 0.3s ease-in-out;
}

#searchBar.active {
  /* transform: translateY(0); */
  top: 0;
}

.searchInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-bottom: 2px solid red;
  padding: 1rem 3rem;
  width: 50%;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .searchInput {
    width: 80%;
    font-size: 1.5rem;
  }
}

.searchInput:focus {
  outline: none;
}

.header-action-right ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0;
  padding: 0; */
  list-style: none;
}

.header-action-right li {
  position: relative;
}

.login {
  margin: 0 0.5rem;
  padding-top: 1rem;
  border-top: 2px var(--white) solid;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--gray);
  background-color: var(--white);
}

.custom-container {
  margin: 1rem 10%;
}

.phone {
  border-right: 1px solid var(--gray);
  padding-right: 1rem;
}

.log {
  border-left: 1px solid var(--gray);
  padding-left: 1rem;
}

.bg-img {
  background-position: center center;
  background-size: cover;
}

.single-hero-slider {
  background-color: #aaa;
  position: relative;
}

.hero-slider-content {
  position: absolute;
  left: 10%;
  top: 25%;
  display: flex;
  flex-direction: column;
  width: 35%;
  /* transform: -50% -50%; */
}

.hero-slider-content h4 {
  font-size: 1.5rem;
  color: red;
}

.hero-slider-content h1 {
  font-size: 2rem;
}

.hero-slider-content p {
  width: 100%;
  font-size: 1rem;
  line-height: 30px;
  margin: 5px 0 15px;
}

.btn-style-1 {
  width: max-content;
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  padding: 14px 20px 16px;
  background-color: #e52e06;
  text-align: center;
}

.btn-style-1 i {
  font-size: 1.3rem;
}

.animate-text {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.animate-text.active {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 39rem) {
  .custom-container {
    margin: 1rem;
  }

  .headerTop {
    display: none;
  }

  /* .custom-container {
    margin-top: 2rem;
  } */

  .hero-slider-content {
    top: 10%;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Desktop */
.single-hero-slider {
  height: 620px;
}

/* Mobile */
@media (max-width: 624px) {
  .single-hero-slider {
    height: 320px !important;
  }
}

/* Tablettes */
@media (min-width: 624px) and (max-width: 944px) {
  .single-hero-slider {
    height: 520px !important;
  }

  .headerTop {
    display: none;
  }

  /* .custom-container {
    margin-top: 2rem;
  } */
}

header {
  width: 100%;
  position: relative; /* Le header commence en position normale */
  top: 0;
  z-index: 9999;
}

.fixed {
  -webkit-animation: 0.8s ease-in-out 0s normal none 1 running fadeInDown;
  animation: 0.8s ease-in-out 0s normal none 1 running fadeInDown;
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =====================Slider================================ */

/* Conteneur des dots */
.slick-dots {
  position: absolute !important;
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  justify-content: center;
  gap: 10px !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Style par défaut des dots */
.slick-dots li {
  width: 28px !important;
  height: 8px !important;
  background-color: #ddd !important;
  border-radius: 4px !important;
  transition: all 0.3s ease !important;
}

.slick-dots li:hover {
  background-color: red !important;
}

/* Bouton des dots */
.slick-dots li button {
  display: none !important;
}

/* Style du dot actif */
.slick-dots li.slick-active {
  background-color: red !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}

/* ==================Trending Categories============================== */

.categories-area {
  padding-bottom: 70px;
}

.custom-container1 {
  max-width: 90vw;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title-1 {
  margin-bottom: 40px;
}

.categories-wrap {
  background: #fff;
  padding: 25px 30px 30px;
  margin: 0 0.5rem;
  border: 1px solid #f8f8f8;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .categories-wrap {
    padding: 25px 15px 30px;
  }
}

.categories-wrap .categories-img-zoom {
  overflow: hidden;
}

.categories-wrap .categories-img a {
  display: block;
}

.categories-wrap .categories-content {
  margin: 13px 0 0;
}
.text-center {
  text-align: center !important;
}

.categories-img a img {
  transition: transform 1s ease;
  display: block;
}

.categories-img a:hover img {
  transform: scale(1.1);
}

.categories-content a:hover {
  color: red;
}

/* =================Banner========================= */

.custom-container .row {
  margin-right: -15px;
  margin-left: -15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Colonne : pleine largeur par défaut */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/* Colonne pour les écrans moyens et plus (≥768px) */
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Colonne pour les écrans larges et plus (≥992px) */
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Colonne pour les écrans extra larges et plus (≥1200px) */
@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.pb-40 {
  padding-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.banner-wrap {
  position: relative;
}

.banner-wrap .banner-img {
  position: relative;
  overflow: hidden;
}

.banner-wrap .banner-content-1 span {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
}

.banner-wrap .banner-content-1 h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0 12px;
}

.btn-style-1 a {
  color: white;
}

.banner-wrap .banner-content-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media (min-width: 59rem) {
  .banner-wrap .banner-content-1 {
    top: 30%;
  }
}

.btn-style-1:hover {
  background-color: #333;
}

/* ====================Last Products===================== */

